
<!DOCTYPE html>
<html lang="en">
    <head>		
        <title>Motor de busqueda Youtube</title>
        <meta charset="UTF-8" />					
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Awesome videos!" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <h1 class="w100 text-center"><a href="prueba.html">YouTube Buscador Laureate</a></h1>
        </header>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="/" id="SearchText">
                    <p><input type="text" id="Search" placeholder="Tipea algo..." autocomplete="off" class="form-control" name="buscar" /></p>
                    <p><input type="submit" value="Buscar"  class="form-control btn btn-primary w100"></p>
                </form>
                <div id="results"></div>
            </div>
        </div>
        
        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script>

//envio Formulario  
var tok;
$( "#SearchText" ).submit(function( event ) {
 
  // detencion de formulario
  event.preventDefault();
 
  // elementos de pagina:
  var $form = $( this ),
    ser = $form.find( "input[name='buscar']" ).val(),
    url = $form.attr( "action" );
 
  // envio de data por post
  var posting = $.post( '/test/video', { PageToken: tok, SearchText: ser } );
  
 
  // resultados en div
  posting.done(function( data ) {
    var content = $( data ).find( "#content" );
    $( "#results" ).empty().append( content );
  });
});
</script>
        <script src="https://apis.google.com/js/client.js?onload=init"></script>
    </body>
</html>